

.nav {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-item {
    position: static;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.mega-menu {
    position: absolute;
    top: 60px;
    left: 0;

    width: 100%;
    min-height: 50px;

    background: rgb(255, 255, 255);
    border-top: 1px solid #eee;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

    /* Hidden state */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-15px);

    transition:
        opacity 0.25s ease,
        transform 0.25s ease,
        visibility 0.25s ease;

    z-index: 1000;
}

.nav-item:hover .mega-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.mega-menu-content {
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.mega-menu-offers{
    width: fit-content;
    margin: 0px 25px;
}

.mega-menu-offers h4{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;
}

.mega-menu-opt-cnt{
    margin: 0;
    padding: 0;
}

.mega-menu-opt{
    margin: 0;
    padding: 2.5px 0px;
    font-size: 14px;
}