@media screen  and (min-width: 480px) and (max-width: 659px) {
    *{
        box-sizing: border-box;
    }

    html,body{
        height: 100%;
        width: 100%;
        background-color: #f9f9f9;
    }

    .buyer-header{
        height: 60px;
        width: 100%;
        background-color: #fff;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: sticky;
        top: 0;
        margin-bottom: -1px;
        display: flex;
        justify-content: space-between;
        padding: 0 15px 0 15px;
        
    }

    .buyer-header ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .buyer-header ul li{
        cursor: pointer;
        display: flex;
        align-items: center;
        color: orangered;
        font-weight: 500;
        font-size: small;
        height: 35px;
        white-space: nowrap;
        border-radius: 5px;
        padding: 0 10px 0 10px;
        justify-content: space-between;
    }

    .buyer-header ul li:hover{
        background-color: rgb(255, 68, 0);
        background-color: rgb(255, 68, 0, .1);
        
    }


    .buyer-main-cnt{
        padding: 1px 10px 10px 10px; 

        background-color: orangered;
    }

    .buyer-flash-ads{
        height: fit-content;
        width: 100%;
        padding: 10px;
        margin-top: 23px;
        background-color: #fff;
    }

    .buyer-flash-ads ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: left;

    }

    .buyer-flash-ads ul li{
        height: 60px;
        flex-shrink: 0;
        width: calc(25% - 11px);
        background-color: #f9f9f9;
        margin: 5px;
        border-radius: 2.5px;
    }

    .buyer-flash-sales{
        height: fit-content;
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        background-color: #fff;
    }

    .buyer-flash-sales ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: left;

    }

    .buyer-flash-sales ul li{
        height: 100px;
        flex-shrink: 0;
        width: calc(33.3% - 10px);
        background-color: #f9f9f9;
        margin: 5px;
        border-radius: 5px;
    }

    .buyer-ads-cnt{
        height: 150px;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: orangered;
    }

    .buyer-ads-cnt section:nth-child(odd){
        width: 250px;
        margin: 0 10px 0 10px;
        height: 100%;
        display: none;
        border-radius: 10px;
        background-color: blue;
    }

    .buyer-ads-cnt section:nth-child(even){
        width: calc(100% - 0px); 
        margin: 0 ;
        /* padding: 10px; */
        height: 100%;
        border-radius: 1px;
        background-color: orangered;
    }
    .buyer-ads-cnt section:nth-child(even) img{
        height: 150px;
        width: 100%;
        border-radius: 1px;
    }

    .buyer-options{
        height: 50px;
        width: 100%;
        background-color: blue;
        display: flex;
        align-items: center;
        overflow: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 5px;
        
    }

    .buyer-category{
        height: fit-content;
        width: 100%;
        float: right;
        margin-top: -3.5px;
        margin-bottom: 3.5px;
        background-color: #fff;
       
    }

    .buyer-category ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: left;
        overflow: auto;
        margin: 0;
        padding: 5px 5px 5px 5px;
    }

    .buyer-category ul::-webkit-scrollbar{
        display: none;
    }

    .buyer-category ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        flex-wrap: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-size: medium;
        color: #000;
        font-weight: 500;
    }

    .buyer-header .input-cnt{
        height: fit-content;
        width: 100px;
        position: relative;
        display: flex;
        margin: auto;
        flex-direction: row;

    }

    .buyer-header section{
        height: fit-content;
        width: fit-content;
        
    }

    .buyer-header section ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: left;
        overflow: hidden;
        margin: 0;
        padding: 5px 5px 5px 5px;
    }

    .buyer-header section ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        border-radius: 5px;
        flex-wrap: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        margin: 0 5px 0 5px;
        font-size: large;
        background-color: orangered;
        color: #fff;
        font-weight: 500;
    }

    .buyer-header section ul li span{
        margin: 0 0 0 0;
    }


    .buyer-header .input-cnt input{
        height: 60px;
        float: left;
        border-top-left-radius: 35px;
        border-bottom-left-radius: 35px;
        font-size: large;
        padding: 20px;
        display: none;
        font-weight: bolder;
        width: 100%;

    }

    .buyer-header .input-cnt button{
        height: 60px;
        float: right;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        position: relative;
        width: 100px;
        background-color: orangered;
        color: #fff;
        outline: none;
        font-weight: 500;
        border: none;

    }




    .buyer-aside{
        height: 100%;
        width: 350px;
        border-radius: 10px;
        float: left;
        overflow: auto;
        background-color: #fff;
        
    }

    .buyer-aside-header{
        height: 100px;
        width: 100%;
        font-size: large;
        font-weight: 1000;
        color: orangered;
    }

    .buyer-aside-cnt{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px;
    }

    .buyer-aside-cnt .input-cnt{
        width: 100%;
    }



    .buyer-product{
        height: calc(100vh - 120px);
        width: calc(100% - 0);
        overflow: auto;
        margin: auto;
        padding: 10px;
        background-color: #f9f9f9;
    }

    .buyer-product-cnt{
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .buyer-product-data {
        height: fit-content;
        width: 100%;
        position: relative;
        background-color: #fff;
        margin-bottom: 5px;
    }

    .buyer-product-data #left{
        float: left;
        width: 100%;
        height: fit-content;
        padding: 5px;
    }

    .buyer-product-data #left .img-cnt{
        height: 250px;
        width: 100%;

    }

    .buyer-product-data #left .img-list-cnt{
        height: 100px;
        width: 100%;
        padding: 10px 0 10px 0;
        display: flex;
        align-items: center;
        justify-content: left;
        overflow: auto;


    }

    .buyer-product-data #left .img-list-cnt div{
        height: 100%;
        margin: 0 5px 0 5px;
        width: 100px;
        flex-shrink: 0;
    }


    .buyer-product-data #right{
        float: right;
        width: 100%;
        height: 100%;
        height: fit-content;
        padding: 5px;
        text-align: left;

    }

    .buyer-product-data #right h3{
        font-size: 3vh;
    }

    .buyer-product-data #right section div{
        margin-bottom: 5px;
    }

    .buyer-product-data #right section div span{
        font-size: large;

    }

    .buyer-product-data #right section ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 2.5px;
        
        margin: 0;
    }

    .buyer-product-data #right section ul li{
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid orangered;
        border-radius: 50%;
        position: relative;
        margin: 0 5px 0 5px;
        padding: 5px;
        text-align: center;
    }


    .buyer-product-description{
        height: fit-content;
        margin: 10px 0 10px 0;
        width: 100%;
        padding: 10px;
        position: relative;
        text-align: left;
        background-color: #fff;
    }

    .buyer-product-description section{
        font-size: medium;
        font-weight: 500;
    }

    .buyer-product-related-items{
        background-color: #fff;
        height: fit-content;
        width: 100%;
        text-align: left;
        padding: 10px;
    }

    .buyer-product-related-items ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        overflow: auto;
        justify-content: left;
        padding: 10px;
        margin: 0;
    }

    .buyer-product-related-items ul li{
        height: 400px;
        flex-shrink: 0;
        width: 300px;
        margin: 0 10px 0 10px;
        background-color: beige;

    }

    .buyer-product-seller-details{
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin: 5px 0 5px 0;
        width: 100%;
        background-color: #fff;
    }

    .buyer-product-seller-details .buyer-seller-history{
        min-height: 70px;
        width: 100%;
        padding: 10px 10px 10px 10px;
        text-align: left;
    }

    .buyer-product-seller-details .buyer-seller-history h4{
        color: #000;
        padding: 0 0 0 5px;
    }

    .buyer-product-seller-details .buyer-seller-history ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .buyer-product-seller-details .buyer-seller-history ul li{
        height: 200px;
        margin: 5px 0 5px 0;
        width: 100%;
    }

    .buyer-product-seller-details .buyer-seller-products{
        min-height: 100px;
        width: 100%;
        padding: 10px 20px 10px 20px;
        text-align: left;
    }

    .buyer-product-seller-details .buyer-seller-products h4{
        color: orangered;
        padding: 0 0 0 5px;
    }

    .buyer-product-seller-details .buyer-seller-products ul{
        list-style-type: none;
        padding: 0;
        overflow: auto;
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 5px;

        margin: 0;
    }

    .buyer-product-seller-details .buyer-seller-products ul li{
        height: 400px;
        margin: 5px 5px 5px 5px;
        width: 350px;
        flex-shrink: 0;
    }

    

}